footer {
    background: var(--deep-plum);
    color: var(--soft-beige);
    text-align: center;
    padding: 2.4rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    bottom: 0;
  }

  .tmdb-logo {
    max-width: 10%;
  }