@keyframes tilt-shaking {
   0% {
      transform: rotate(0deg);
   }
   25% {
      transform: rotate(5deg);
   }
   50% {
      transform: rotate(0eg);
   }
   75% {
      transform: rotate(-5deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

@keyframes horizontal-shaking {
   0% {
      transform: translateX(0);
   }
   25% {
      transform: translateX(5px);
   }
   50% {
      transform: translateX(-5px);
   }
   75% {
      transform: translateX(5px);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes rotateImg {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes bg {
   0% {
      background-position: 0 50%;
   }
   50% {
      background-position: 100% 100%;
   }
   100% {
      background-position: 0 50%;
   }
}

.mobile-tablet-hero-container {
   display: none;
}

.hero-container {
   width: 100vw;
   height: 100vh;
   background: linear-gradient(
      270deg,
      var(--muted-mauve),
      var(--deep-plum),
      var(--dark-purple-black),
      var(--muted-mauve),
      var(--deep-plum),
      var(--dark-purple-black)
   );
   background-size: 300% 300%;
   display: flex;
   align-items: center;
   justify-content: center;
   animation: bg 35s ease infinite;
}

.hero-slogan {
   font-size: 2.7rem;
   font-weight: 500;
}

@media only screen and (max-width: 1024px) {
   .hero-slogan {
      font-size: 1.3rem;
      font-weight: 500;
   }
}

@media only screen and (min-width: 1024px) and (max-width: 1194px) {
   .hero-slogan {
      font-size: 1.8rem;
      font-weight: 500;
   }
}

.left-container > img {
   width: 100%;
}

.right-container > img {
   width: 100%;
}

.left-container {
   width: 50%;
   max-width: 950px;
}

.right-container {
   width: 30%;
   max-width: 650px;
}

.about-container,
.the-creators-container {
   background-image: linear-gradient(
      to right,
      var(--muted-mauve),
      var(--vintage-rose)
   );
}

.about-container {
   width: 100vw;
   padding-bottom: 50px;
}

.about-content-container {
   display: flex;
   justify-content: center;
}

.about-title,
.the-creators-title {
   font-size: 2.9rem;
   padding: 45px 0;
}

.about-title,
.about-text,
.the-creators-title,
.name-container > p,
.hero-slogan {
   color: var(--soft-beige);
}

.about-content {
   background: var(--deep-plum);
   border: 2px solid var(--soft-beige);
   border-radius: 10px;
   text-align: center;
   padding: 25px 22px;
   width: 90%;
   height: 50%;
   overflow: auto;
}

.about-text {
   height: 100%;
   display: flex;
   align-items: center;
   text-align: justify;
}

.start-moodie-container {
   background: linear-gradient(var(--dark-purple-black), var(--deep-plum));
   height: 50vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   place-content: center;
   place-items: center;
   overflow: hidden;

   &::before {
      content: "";
      position: absolute;
      background-image: linear-gradient(
         180deg,
         var(--soft-beige),
         var(--soft-beige)
      );
      width: 110%;
      height: 130%;
      animation: rotateImg 7s linear infinite;
      transition: all 0.2s linear;
   }

   &::after {
      position: absolute;
      content: "";
      background: linear-gradient(var(--dark-purple-black), var(--deep-plum));
      inset: 5px;
      border-radius: 15px;
   }
}

.start-moodie-btn {
   color: var(--soft-beige);
   background: var(--muted-mauve);
   font-size: 3.5rem;
   padding: 30px 35px;
   border-radius: 70px;
   border: 5px solid var(--soft-beige);
   cursor: pointer;
   font-weight: 600;
   transition: all 0.6s ease;
   z-index: 1;

   &:hover {
      background: #b6515e;
      animation: tilt-shaking 0.7s infinite;
   }
}

.avatar-container {
   display: flex;
   flex-direction: column;
   justify-content: start;
   width: 65%;
   max-width: 850px;
}

.avatar-content-container {
   display: flex;
   justify-content: center;
}

.cards img {
   width: 40%;
   height: 100%;
   max-width: 400px;
   border-radius: 20px;
   border: 3px solid var(--soft-beige);
}

.cards {
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   background: var(--deep-plum);
   align-items: center;
   border: 2px solid var(--soft-beige);
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.35s ease;
   &:hover {
      box-shadow: 0 0 45px 20px #a273b0;
      background: var(--dark-purple-black);
      animation: horizontal-shaking 0.8s ease-in;
   }
}

.name-container {
   height: 50px;
   border: 2px solid var(--soft-beige);
   width: 40%;
   height: 100px;
   max-width: 450px;
   margin-left: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--muted-mauve);
}

.name-container p {
   font-weight: 700;
   font-size: 2rem;
   padding: 10px 15px;
}

/* Decrease the size of the names as the screen gets smaller and smaller */

@media only screen and (max-width: 1685px) {
   .name-container p {
      font-size: 1.5rem;
   }
}

@media only screen and (max-width: 1035px) {
   .name-container p {
      font-size: 1.2rem;
   }
}

@media only screen and (max-width: 543px) {
   .name-container p {
      font-size: 1rem;
   }
}

@media only screen and (max-width: 990px) {
   .hero-container {
      position: relative;
   }

   .left-container {
      display: none;
   }

   .right-container {
      display: none;
   }

   .mobile-tablet-hero-container {
      display: block;
      position: relative;
      width: 100%;
      height: 100vh;
      padding-top: 95px;
      overflow: hidden;
      /* border: 2px solid red; */
   }

   .popcorn-bg {
      display: block;
      width: 70%;
      height: 98%;
      object-fit: cover;
      /* border: 2px solid yellowgreen; */
      opacity: 40%;
   }

   .popcorn-img-container {
      display: flex;
      align-items: flex-end;
      /* border: 2px solid pink; */
      height: 100%;
   }

   .mobile-hero-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   .mobile-hero-content img {
      width: 90%;
   }

   .hero-slogan {
      font-size: 2.2rem;
   }
}

@media only screen and (max-width: 770px){
   .hero-slogan {
      font-size: 1.7rem;
   }
}

@media only screen and (max-width: 575px){
   .hero-slogan {
      font-size: 1.3rem;
   }
}
