/* .quiz-question-container {
  border: 2px solid yellowgreen;
} */

.quiz-question-box {
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 35px 20px 15px 20px;
  width: 95%;
  max-width: 1100px;
  /* height: 150px; */
  height: 100%;
  border-radius: 30px;
  background: var(--soft-beige);
  display: flex;
  align-items: center; 
  /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  text-align: center; /* Ensures the text is centered within the element */
  word-wrap: break-word; /* Allows the text to break into multiple lines if needed */
}

.question-wording {
  color: var(--deep-plum);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.image-container {
  margin: 0 0 50px 0;
  height: 100%;
}

#danni {
  width: 40%;
  min-width: 280px;
  max-width: 450px;
  border: 6px solid var(--soft-beige);
  padding: 10px;
}

.quiz-content-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1270px){
  .quiz-question-box {
    width: 85%;
  }
}

@media only screen and (max-width: 765px){
  .quiz-question-box {
    width: 80%;
  }

  .question-wording {
    font-size: 1.5rem;
  }
}
