body {
  background: linear-gradient(var(--dark-purple-black), var(--deep-plum));
}

h1 {
  color: var(--soft-beige);
  font-size: 4rem;
}
.box {
  background-color: var(--muted-mauve);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--soft-beige);
  border-radius: 10px;
  padding: 4em;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-inline: 20%;
}

.buttons-div {
  display: flex;
  gap: 2em;
  padding: 3em;
  justify-content: center;
}

.quiz-button,
.randomise-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--vintage-rose);
  border: 2px solid var(--soft-beige);
  border-radius: 10px;
  padding: 2em;
  font-size: 30px;
  font-weight: 500;
  margin: 1em 0;
  width: 250px;
  height: 120px;
  text-align: center;
}

.quiz-button:hover,
.randomise-button:hover {
  background-color: var(--deep-plum);
  color:  var(--soft-beige);
  cursor: pointer;
}